:root {
  --primary-color: #00ffd5;
  --second-color: #ae00ff;
  --neutral-color: rgba(0, 0, 0, .2);
  --cell-size: 80px;
}

.Game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(225deg, var(--primary-color) 0%, var(--second-color) 100%);
  overflow: auto;
}

.Field {
  display: flex;
  flex-direction: column;
  padding: 26.75px;
  width: auto;
  height: auto;
  background-color: transparent;
  box-shadow: inset 0 0 10px var(--neutral-color);
  box-sizing: border-box;
  perspective: 1500px;
}

.Field .Field__row {
  display: flex;
  justify-content: space-between;
  height: calc((100% - (30px * 2)) / 4);
}

.Field .Field__row:not(:last-child) {
  margin-bottom: 26.75px;
}

.Field .Field__сell {
  min-width: 50px;
  width: var(--cell-size);
  min-height: 50px;
  height: var(--cell-size);
  position: relative;
  background-color: var(--primary-color);
  border: 3px solid var(--neutral-color);
  border-radius: 5px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: .5s all ease-out;
  box-sizing: border-box;
}

.Field__сell .Cell__front-side,
.Field__сell .Cell__back-side {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: inherit;
  transition: .25s all ease-in;
}

.Field__сell .Cell__front-side {
  transform: rotateX(0) rotateY(180deg) rotateX(0);
}

.Field__сell .Cell__back-side {
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 64px;
  opacity: 0;
}

.Field .Field__сell:not(:last-child) {
  margin-right: 26.75px;
}

.Field .Field__сell:not(.Field__cell_flipped):not(.Field__сell_done):hover,
.Field .Field__сell:not(.Field__cell_flipped):not(.Field__сell_done):focus {
  transform: rotateX(0) rotateY(0) rotateZ(-5deg);
  outline: var(--neutral-color) solid 3px;
}

.Field .Field__сell.Field__cell_flipped,
.Field .Field__сell.Field__cell_done {
  border-width: 0;
  background: none;
  cursor: not-allowed;
  transform: rotateX(180deg) rotateY(0) rotateZ(180deg);
}

.Field .Field__сell.Field__cell_done {
  transform: rotateX(180deg) rotateY(0) rotateZ(180deg) scale(.95);
  transition: 1s all ease;
}

.Field__сell.Field__cell_done,
.Field__сell.Field__cell_done .Cell__back-side {
  background: none;
}

.Field__сell.Field__cell_done .Cell__front-side,
.Field__сell.Field__cell_done .Cell__back-side {
  opacity: .25;
}

.Field__сell .Cell__back-side {
  animation: fadeIn .3s ease .2s forwards;
}

.Field__сell.Field__cell_flipped .Cell__back-side {
  animation: fadeOut .3s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}